<div class="a">
    <ng-container *ngIf="machine && date && grossProduction!==0">
        <div class="row" id="title">
            <h1>{{machine}} Statuses</h1>
        </div>
        <div class="row">
            <div class="left">
                <h1>Total Net Production</h1>
            </div>
            <div class="right">
                <h1>{{grossProduction-scrapProduction}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="left">
                <h1>Scrap Production Percentage</h1>
            </div>
            <div class="right">
                <h1>{{scrapPercentage}}%</h1>
            </div>
        </div>
        <div class="row">
            <div class="left">
                <h1>Gross Production Percentage</h1>
            </div>
            <div class="right">
                <h1>{{grossPercentage}}%</h1>
            </div>
        </div>
        <div class="row">
            <div class="left">
                <h1>Downtime Percentage</h1>
            </div>
            <div class="right">
                <h1>{{downtimePercentage}}%</h1>
            </div>
        </div>
        <div class="chart-div">
        <canvas #lineChart>{{ chart }}</canvas>
        </div>
    </ng-container>
    <ng-container *ngIf="!loadingFlag && machine && date && grossProduction===0">
        <h1>No data for such date and machine configuration</h1>
    </ng-container>
    <ng-container *ngIf="!machine && date">
        <h1>Choose machine type</h1>
    </ng-container>
    <ng-container *ngIf="!date && machine">
        <h1>Choose date</h1>
    </ng-container>
    <ng-container *ngIf="!machine && !date">
        <h1>Choose machine type and date</h1>
    </ng-container>
</div>
<ng-container *ngIf="loadingFlag && machine && date && grossProduction===0">
    <div class="loading">
      <img src="assets/img/loading.gif">
    </div>
  </ng-container>