<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  
</style>

<!-- Toolbar -->
  <div class="nav-bar">
    <div class="left">
      <h2>OGEL</h2>
    </div>
    <div class="middle">
      <div class="machines">
        <select [(ngModel)]="machine">
          <option value="machine">Machine</option>
          <option value="machine2">Machine2</option>
        </select>
      </div>
      <div class="others">
        <select [(ngModel)]="day">
          <option value="day">Day</option>
          <ng-container *ngFor="let i of arrayThree(31, 1)">
            <option value="{{i}}">{{i}}</option>
            </ng-container>
        </select>
        <select [(ngModel)]="month">
          <option value="month">Month</option>
          <ng-container *ngFor="let i of arrayThree(12, 1)">
            <option value="{{i}}">{{i}}</option>
            </ng-container>
        </select>
        <select [(ngModel)]="year">
          <option value="year">Year</option>
          <ng-container *ngFor="let i of arrayThree(21, 2000)">
            <option value="{{i}}">{{i}}</option>
            </ng-container>
        </select>
      </div>
      <button>SEARCH</button>
    </div>
    <div class="right">
      <a routerLink="A"><h1>A</h1></a>
      <a routerLink="B"><h1>B</h1></a>
      <a routerLink="C"><h1>C</h1></a>
    </div>
  </div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>