<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

</style>

<!-- Toolbar -->
<ng-container *ngIf="machineNames!==[]">

<div class="nav-bar">
  <div class="left">
    <a routerLink="">
      <h2>OGEL</h2>
    </a>
  </div>
  <div class="middle">
    <div class="machines">
      <select (change)="searchFunc()" [(ngModel)]="machine">
        <option value="">Machine</option>
        <ng-container *ngFor="let item of machineNames">
          <option value="{{item}}">{{item}}</option>
        </ng-container>
      </select>
    </div>
    <div class="others">
      <select (change)="searchFunc()" [(ngModel)]="day">
        <option value="">Day</option>
        <ng-container *ngFor="let i of array(31, 1)">
          <ng-container *ngIf="i<10">
            <option value="0{{i}}">0{{i}}</option>
          </ng-container>
          <ng-container *ngIf="i>=10">
            <option value="{{i}}">{{i}}</option>
          </ng-container>
        </ng-container>

      </select>
      <select (change)="searchFunc()" [(ngModel)]="month">
        <option value="">Month</option>
        <ng-container *ngFor="let i of array(12, 1)">
          <ng-container *ngIf="i<10">
            <option value="0{{i}}">0{{i}}</option>
          </ng-container>
          <ng-container *ngIf="i>=10">
            <option value="{{i}}">{{i}}</option>
          </ng-container>
        </ng-container>
      </select>
      <select (change)="searchFunc()" [(ngModel)]="year">
        <option value="">Year</option>
        <ng-container *ngFor="let i of array(21, 2000)">
          <option value="{{i}}">{{i}}</option>
        </ng-container>
      </select>
    </div>
  </div>
  <div class="right">
    <a routerLink="status">
      <h1>Machine Statuses</h1>
    </a>
    <a routerLink="core">
      <h1>Core Temperature Info</h1>
    </a>
    <a routerLink="equipment">
      <h1>Equipment Efficiency</h1>
    </a>
  </div>
</div>
</ng-container>
<ng-container *ngIf="machineNames===[]">
  <div class="loading">
    <h1>Loading</h1>
  </div>
</ng-container>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>