.nav-bar {
    background-color: #5b6467;
    background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
    display: grid;
    grid-template-areas: "left middle middle right right right";
}

.nav-bar h2 {
    font-size: 3rem;
    color: white;
    font-weight: 300;
    letter-spacing: 5px;
}
.nav-bar h1 {
    font-weight: 300;
    font-size: 1.3rem;
    color: white;
}
.nav-bar h1:hover{
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}
.left {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: left;
    height: 4rem;
}
.middle {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: middle;
    height: 4rem;
}
.middle select{
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    border: 1px solid rgba(29, 206, 190, 0.3);
    padding-left: 5px;
    border-radius: 5px;
    height: 1.5rem;
    margin-right: 0.5rem;
}
button {
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    border: 1px solid rgba(29, 206, 190, 0.3);
    padding-left: 5px;
    border-radius: 5px;
    width:2rem;
    height: 1.6rem;
    margin-right: 0rem;
}
button img{
    width:90%;
    height:90%;
}
button {
    background-color: #1dcebe;
    color: white;
}
button:hover {
    background-color: #4de9e9;
    cursor: pointer;
}
.right {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: right;
    height: 4rem;
}
.right h1 {
    margin-right: 2rem;
}
.machines {
    margin-right: 1rem;
}
.others {
    margin-right: 1rem;
}
