<div class="c">
    <ng-container *ngIf="machine && date">
        <div class="row" id="title">
            <h1>{{machine}} Overall Equipment Efficiency</h1>
        </div>
        <div class="row">
            <div class="left">
                <h1>Performance</h1>
            </div>
            <div class="right">
                <h1>3.00</h1>
            </div>
        </div>
        <div class="row">
            <div class="left">
                <h1>Availability</h1>
            </div>
            <div class="right">
            </div>
        </div>
        <div class="row">
            <div class="left">
                <h1>Quality</h1>
            </div>
            <div class="right">

            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="!machine && date">
        <h1>Choose machine type</h1>
    </ng-container>
    <ng-container *ngIf="!date && machine">
        <h1>Choose date</h1>
    </ng-container>
    <ng-container *ngIf="!machine && !date">
        <h1>Choose machine type and date</h1>
    </ng-container>
</div>