<div class="b">
    <ng-container *ngIf="machine && date">
        <div class="row" id="title">
            <h1>{{machine}} Core Temperature Info</h1>
        </div>
        <div class="row" id="title">
            <div class="left">
                <h1>Start Time</h1>
            </div>
            <div class="middle">
                <h1>End Time</h1>
            </div>
            <div class="right">
                <h1>Status</h1>
            </div>
        </div>
        <ng-container *ngFor="let item of coreInfo; index as i">
            <div class="row">
                <div class="left">
                    <h1>{{item.startTime}}</h1>
                </div>
                <div class="middle">
                    <h1>{{item.endTime}}</h1>
                </div>
                <ng-container *ngIf="item.status==='good'">
                    <div class="right">
                        <h1 [style.color]="item.status==='good' ? '#27d96b' : ''">{{item.status}}</h1>
                    </div>
                </ng-container>
                <ng-container *ngIf="item.status==='warning'">
                    <div class="right">
                        <h1 [style.color]="item.status==='warning' ? '#db9f27' : ''">{{item.status}}</h1>
                    </div>
                </ng-container>
                <ng-container *ngIf="item.status==='fatal'">
                    <div class="right">
                        <h1 [style.color]="item.status==='fatal' ? '#d43a26' : ''">{{item.status}}</h1>
                    </div>
                </ng-container>
            </div>
            
        </ng-container>
    </ng-container>
    <ng-container *ngIf="!machine && date">
        <h1>Choose machine type</h1>
    </ng-container>
    <ng-container *ngIf="!date && machine">
        <h1>Choose date</h1>
    </ng-container>
    <ng-container *ngIf="!machine && !date">
        <h1>Choose machine type and date</h1>
    </ng-container>
</div>