<div class="b">
    <ng-container *ngIf="machine && date">
        <div class="row" id="title">
            <h1>{{machine}} Core Temperature Info</h1>
        </div>
        <div class="row" id="title">
            <div class="left">
                <h1>Time</h1>
            </div>
            <div class="middle">
                <h1>Status</h1>
            </div>
            <div class="right">
                <h1>Temperature</h1>
            </div>
        </div>
        <div class="row">
            <div class="left">
                <h1>Time</h1>
            </div>
            <div class="middle">
                <h1>Status</h1>
            </div>
            <div class="right">
                <h1>Temperature</h1>
            </div>
        </div>
        <div class="row">
            <div class="left">
                <h1>Time</h1>
            </div>
            <div class="middle">
                <h1>Status</h1>
            </div>
            <div class="right">
                <h1>Temperature</h1>
            </div>
        </div>
        <div class="row">
            <div class="left">
                <h1>Time</h1>
            </div>
            <div class="middle">
                <h1>Status</h1>
            </div>
            <div class="right">
                <h1>Temperature</h1>
            </div>
        </div>
        <div class="row">
            <div class="left">
                <h1>Time</h1>
            </div>
            <div class="middle">
                <h1>Status</h1>
            </div>
            <div class="right">
                <h1>Temperature</h1>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="!machine && date">
        <h1>Choose machine type</h1>
    </ng-container>
    <ng-container *ngIf="!date && machine">
        <h1>Choose date</h1>
    </ng-container>
    <ng-container *ngIf="!machine && !date">
        <h1>Choose machine type and date</h1>
    </ng-container>
</div>